body {
	background-color: #000000;
	background-image: url("/static/img/bg.jpg");
	/* Background image used with permission of the ESO
	 * Source: http://www.eso.org/public/images/eso0932a/
	 */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

#main {
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-height: 600px;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    box-shadow: 6px 5px 8px #000000;
	padding-top: 25px;
    padding-bottom: 25px;
	border-top: 1px solid rgb(10, 10, 10);
}

#data-main {
    background-color: rgb(237, 237, 237);
    width: 500px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    outline:none;
    border-color: rgba(3, 237, 48, 0.22);
    box-shadow:0 0 10px rgba(3, 237, 48, 0.22);
}

#main-content {
    text-align: center;
}

#logo-box {
    box-shadow: 6px 5px 8px #000000;
    width: 1000px;
	height: 67px;
    margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.9) 25%, rgba(20, 20, 20, 0.9) 75%);
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}


input, select {
    width:200px;
    border:2px solid rgb(127, 127, 127);
    border-radius:7px;
    font-size:18px;
    padding:5px;
    margin: 10px;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;
}

input:focus, select:focus {
    outline: none;
    border-color: rgba(3, 237, 48, 0.22);
    box-shadow: 1px 1px 10px rgba(3, 237, 48, 0.22);
}

#hr-player {
    color: rgba(144, 144, 144, 0.28);
    width: 80%;
}

#server-list {
    width: 400px;
}

#data-front{
    background-color: rgba(237, 237, 237, 0.86);
    width: 500px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    outline:none;
    border-color: rgba(3, 237, 48, 0.22);
    box-shadow:0 0 10px rgba(3, 237, 48, 0.22);
}