{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
            <form action="" method="post">
                <input autofocus="autofocus" name="ip" type="text" placeholder="127.0.0.1" />
            <br>
                <input name="port" type="text" placeholder="21025" />
            <br>
            <select name="game">
            <option value="Starbound" selected>Starbound</option>
            </select>
            <div>
                <input name="submit" type="submit" value="Submit"/>
                <br>
            </div>
        </form>
    <hr id="hr-player">
    <div id="data-front">
    <h3>Last 5 Servers Checked</h3>
    {% for server in cache %}
        <hr id="hr-player">
        {{ server['game'] }} - {{ server['ip'] }} : {{ server['port'] }}
        <br>
    {% endfor %}
    <hr id="hr-player">
    </div>
{% endblock %}

